body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 2%, 56%);

}
.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
    padding: 30px;
}
.display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 1%, 29%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 72%);
    margin-bottom: 25px;
}
.controls button{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px;
    padding: 10px 20px;
    min-width: 125px;
    border: none;
    border-radius:10px;
    cursor: pointer;
    color: white;
    transition: background-Color 0.5s ease;
}
.startbutton{
    background-color: hsl(120, 82%, 40%);
}
.startbutton:hover{
    background-color: hsl(120, 81%, 33%);
}

.stopbutton{
    background-color: hsl(0, 84%, 43%);
}
.stopbutton:hover{
    background-color: hsl(0, 84%, 33%);
}
.resetbutton{
    background-color: hsl(240, 52%, 50%);
}
.resetbutton:hover{
    background-color:  hsl(240, 52%, 45%);
}